{"mmc3530kj_0_platform.config":{"owner":"sns_mmc3530kj","bus_type":{"type":"int","ver":"0","data":"0"},"bus_instance":{"type":"int","ver":"0","data":"1"},"slave_config":{"type":"int","ver":"0","data":"48"},"min_bus_speed_khz":{"type":"int","ver":"0","data":"400"},"max_bus_speed_khz":{"type":"int","ver":"0","data":"400"},"reg_addr_type":{"type":"int","ver":"0","data":"0"},"num_rail":{"type":"int","ver":"0","data":"2"},"rail_on_state":{"type":"int","ver":"0","data":"1"},"vdd_rail":{"type":"str","ver":"0","data":"/pmic/client/sensor_vdd"},"vddio_rail":{"type":"str","ver":"0","data":"/pmic/client/sensor_vddio"},"rigid_body_type":{"type":"int","ver":"0","data":"0"}}}