{"sns_device_orient_platform.config":{"owner":"sns_device_orient","param0":{"type":"int","ver":"0","data":"1"},"param1":{"type":"flt","ver":"0","data":"20.000000"},"param2":{"type":"flt","ver":"0","data":"0.250000"},"param3":{"type":"flt","ver":"0","data":"55.000000"},"param4":{"type":"flt","ver":"0","data":"45.000000"},"param5":{"type":"flt","ver":"0","data":"0.500000"},"param6":{"type":"flt","ver":"0","data":"15.000000"},"param7":{"type":"int","ver":"0","data":"1"}}}